.tableContainer {
  width: 100%;
  height: calc(100vh - 100px); /* Ajustez selon vos besoins, cela réduit la hauteur pour la barre de navigation */
  overflow: auto; /* Ajoute une barre de défilement si le contenu dépasse la hauteur de la fenêtre */
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
  background-color: #001f96;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #000000;
  color: #001f96;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #001f96;
}

.table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.button-details {
  background-color: #001f96;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.button-details:hover {
  background-color: #3759e2;
}

.data {
  font-family: 'Montserrat', sans-serif;
}
